{
	"singleQuote": false,
	"printWidth": 80,
	"htmlWhitespaceSensitivity": "ignore",
	"singleAttributePerLine": true,
	"quoteProps": "preserve",
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "auto",
	"semi": true,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 4
}
